# Working with IPL data set (Advanced data analysis using Pandas)

Load the ipl datasets deliveries.csv and matches.csv into a pandas dataframe and answer the quesions based on these dataset.

In [1]:
import pandas as pd
import numpy as np
deliveries = pd.read_csv('deliveries.csv')
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [2]:
matches = pd.read_csv('matches.csv')
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [3]:
#1. Merge both the datasets so that the resulting df would have all the columns. Call it ipl_total. 
# The shape would be (136598, 39)
ipl_total = matches.merge(deliveries,left_on='id',right_on='match_id')
ipl_total

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
8,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
10,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
12,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
14,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
16,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
17,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
19,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,5,5,NaN,NaN,NaN
20,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
21,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
22,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
23,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
24,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
25,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
26,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
27,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
28,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
29,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136568,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136569,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136570,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,KL Rahul,bowled,NaN
136571,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136572,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136573,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136574,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136575,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136576,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,SR Watson,caught,MC Henriques
136577,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136578,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
136579,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136580,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136581,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136582,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136583,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136584,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
136585,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
136586,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,STR Binny,run out,DJ Hooda
136587,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136588,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136589,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
136590,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136591,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
136592,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136593,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136594,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
136595,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
136596,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136597,577,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [4]:
#2. The dataset deliveries has the ball-by-ball summary of each match from 2008 to 2016 but it doesn't have season 
# column making it difficult to segregate the data season-wise. Merge both the datasets such that the dataset 
# deliveries also gets an additional column season and store it in deliveries_season. Drop the duplicate column id. 
# The shape deliveries_season should be (136598, 22). 
deliveries_season = deliveries.merge(matches[['id','season']],left_on='match_id',right_on='id')
deliveries_season.drop('id',axis = 1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,season
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,2008
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,1,1,NaN,NaN,NaN,2008
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
5,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,6,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
6,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,7,BB McCullum,SC Ganguly,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,2008
7,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,1,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
8,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,2,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2008
9,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,3,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2008
10,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,4,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,6,0,6,NaN,NaN,NaN,2008
11,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,5,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2008
12,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,6,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
13,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
14,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,2,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
15,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,3,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,2008
16,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2008
17,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2008
18,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,6,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
19,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,1,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,0,5,5,NaN,NaN,NaN,2008
20,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,2,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,6,0,6,NaN,NaN,NaN,2008
21,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,3,BB McCullum,SC Ganguly,AA Noffke,0,...,1,0,0,0,1,1,NaN,NaN,NaN,2008
22,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,4,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2008
23,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,5,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
24,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,6,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2008
25,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,7,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,6,0,6,NaN,NaN,NaN,2008
26,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2008
27,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,2,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2008
28,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2008
29,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136568,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,1,KL Rahul,SR Watson,BCJ Cutting,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136569,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,2,SR Watson,KL Rahul,BCJ Cutting,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136570,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,3,KL Rahul,SR Watson,BCJ Cutting,0,...,0,0,0,0,0,0,KL Rahul,bowled,NaN,2016
136571,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,4,Sachin Baby,SR Watson,BCJ Cutting,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2016
136572,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,5,Sachin Baby,SR Watson,BCJ Cutting,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136573,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,6,SR Watson,Sachin Baby,BCJ Cutting,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136574,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,1,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2016
136575,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,2,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,2,0,2,NaN,NaN,NaN,2016
136576,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,0,0,SR Watson,caught,MC Henriques,2016
136577,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,4,Sachin Baby,STR Binny,Mustafizur Rahman,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136578,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,5,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,6,0,6,NaN,NaN,NaN,2016
136579,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,6,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136580,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,1,STR Binny,Sachin Baby,B Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2016
136581,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,2,STR Binny,Sachin Baby,B Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136582,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,3,Sachin Baby,STR Binny,B Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136583,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,4,STR Binny,Sachin Baby,B Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2016
136584,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,5,STR Binny,Sachin Baby,B Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,2016
136585,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,6,Sachin Baby,STR Binny,B Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2016
136586,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,1,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,1,0,1,STR Binny,run out,DJ Hooda,2016
136587,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,2,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,2,0,2,NaN,NaN,NaN,2016
136588,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,3,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2016
136589,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,4,CJ Jordan,Sachin Baby,Mustafizur Rahman,0,...,1,0,0,0,1,1,NaN,NaN,NaN,2016
136590,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,5,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,0,0,0,2,0,2,NaN,NaN,NaN,2016
136591,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,6,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,0,0,0,6,0,6,NaN,NaN,NaN,2016
136592,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,1,CJ Jordan,Sachin Baby,B Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136593,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,2,0,2,NaN,NaN,NaN,2016
136594,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha,2016
136595,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,2016
136596,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,2016
136597,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,2016

In [5]:
#3. Use groupby on the dataset matches to return only the winner for each season (each rwo representing winner for 
# each season starting from 2008). Store it in a new dataframe called winners. 
#Hint: the last match of each seaon would be the final of that season. The shape of winners should be (9,17)
winners = matches.groupby('season').last()
winners[['winner']]

                       winner
season
2008         Rajasthan Royals
2009          Deccan Chargers
2010      Chennai Super Kings
2011      Chennai Super Kings
2012    Kolkata Knight Riders
2013           Mumbai Indians
2014    Kolkata Knight Riders
2015           Mumbai Indians
2016      Sunrisers Hyderabad

In [6]:
#4. Use the deliveries_season df created in qn 2 to find the total runs scored by each team per season. Store the 
#resulting dataframe as season_run_summary. The shape would be (76, 3)
deliveries_season.groupby(['season','batting_team']).total_runs.sum().reset_index()

    season                 batting_team  total_runs
0     2008          Chennai Super Kings        2520
1     2008              Deccan Chargers        2229
2     2008             Delhi Daredevils        2118
3     2008              Kings XI Punjab        2464
4     2008        Kolkata Knight Riders        1942
5     2008               Mumbai Indians        2080
6     2008             Rajasthan Royals        2601
7     2008  Royal Challengers Bangalore        1983
8     2009          Chennai Super Kings        2231
9     2009              Deccan Chargers        2408
10    2009             Delhi Daredevils        2131
11    2009              Kings XI Punjab        1928
12    2009        Kolkata Knight Riders        1772
13    2009               Mumbai Indians        1897
14    2009             Rajasthan Royals        1706
15    2009  Royal Challengers Bangalore        2280
16    2010          Chennai Super Kings        2604
17    2010              Deccan Chargers        2374
18    2010             Delhi Daredevils        2155
19    2010              Kings XI Punjab        2288
20    2010        Kolkata Knight Riders        2144
21    2010               Mumbai Indians        2738
22    2010             Rajasthan Royals        2179
23    2010  Royal Challengers Bangalore        2401
24    2011          Chennai Super Kings        2560
25    2011              Deccan Chargers        2140
26    2011             Delhi Daredevils        2087
27    2011              Kings XI Punjab        2224
28    2011         Kochi Tuskers Kerala        1901
29    2011        Kolkata Knight Riders        2023
..     ...                          ...         ...
46    2013        Kolkata Knight Riders        2290
47    2013               Mumbai Indians        2975
48    2013                Pune Warriors        2262
49    2013             Rajasthan Royals        2705
50    2013  Royal Challengers Bangalore        2601
51    2013          Sunrisers Hyderabad        2318
52    2014          Chennai Super Kings        2650
53    2014             Delhi Daredevils        2081
54    2014              Kings XI Punjab        2987
55    2014        Kolkata Knight Riders        2499
56    2014               Mumbai Indians        2353
57    2014             Rajasthan Royals        2166
58    2014  Royal Challengers Bangalore        2093
59    2014          Sunrisers Hyderabad        2102
60    2015          Chennai Super Kings        2725
61    2015             Delhi Daredevils        2168
62    2015              Kings XI Punjab        2018
63    2015        Kolkata Knight Riders        2044
64    2015               Mumbai Indians        2734
65    2015             Rajasthan Royals        2143
66    2015  Royal Challengers Bangalore        2311
67    2015          Sunrisers Hyderabad        2210
68    2016             Delhi Daredevils        2104
69    2016                Gujarat Lions        2450
70    2016              Kings XI Punjab        2134
71    2016        Kolkata Knight Riders        2263
72    2016               Mumbai Indians        2194
73    2016      Rising Pune Supergiants        2063
74    2016  Royal Challengers Bangalore        2981
75    2016          Sunrisers Hyderabad        2673

[76 rows x 3 columns]

In [7]:
#5. Use the deliveries_season df created in qn 2 to find the total wickets taken by each bowler per seaon per team.
# Store it in season_wicket_summary, shape should be (1036, 4)

deliveries_season.groupby(['season','bowling_team','bowler']).player_dismissed.count().reset_index()

      season                 bowling_team             bowler  player_dismissed
0       2008          Chennai Super Kings      CK Kapugedera                 0
1       2008          Chennai Super Kings          JA Morkel                20
2       2008          Chennai Super Kings           JDP Oram                 6
3       2008          Chennai Super Kings    Joginder Sharma                 9
4       2008          Chennai Super Kings           L Balaji                11
5       2008          Chennai Super Kings     M Muralitharan                11
6       2008          Chennai Super Kings            M Ntini                 8
7       2008          Chennai Super Kings            MS Gony                18
8       2008          Chennai Super Kings         P Amarnath                 7
9       2008          Chennai Super Kings           S Vidyut                 1
10      2008          Chennai Super Kings           SK Raina                 2
11      2008              Deccan Chargers          A Symonds                 0
12      2008              Deccan Chargers    D Kalyankrishna                 2
13      2008              Deccan Chargers       DB Ravi Teja                 1
14      2008              Deccan Chargers          DNT Zoysa                 2
15      2008              Deccan Chargers      DP Vijaykumar                 4
16      2008              Deccan Chargers          LPC Silva                 0
17      2008              Deccan Chargers   PM Sarvesh Kumar                 1
18      2008              Deccan Chargers            PP Ojha                11
19      2008              Deccan Chargers          RG Sharma                 1
20      2008              Deccan Chargers           RP Singh                17
21      2008              Deccan Chargers          SB Bangar                 6
22      2008              Deccan Chargers          SB Styris                 4
23      2008              Deccan Chargers      Shahid Afridi                 9
24      2008              Deccan Chargers         WPUJC Vaas                 6
25      2008              Deccan Chargers    Y Venugopal Rao                 3
26      2008             Delhi Daredevils           A Mishra                11
27      2008             Delhi Daredevils           B Geeves                 2
28      2008             Delhi Daredevils         DL Vettori                 2
29      2008             Delhi Daredevils         GD McGrath                14
...      ...                          ...                ...               ...
1006    2016      Rising Pune Supergiants          SM Boland                 3
1007    2016  Royal Challengers Bangalore           AF Milne                 1
1008    2016  Royal Challengers Bangalore           CH Gayle                 2
1009    2016  Royal Challengers Bangalore          CJ Jordan                13
1010    2016  Royal Challengers Bangalore            D Wiese                 0
1011    2016  Royal Challengers Bangalore           HV Patel                 2
1012    2016  Royal Challengers Bangalore      Iqbal Abdulla                 7
1013    2016  Royal Challengers Bangalore      KW Richardson                 8
1014    2016  Royal Challengers Bangalore      Parvez Rasool                 1
1015    2016  Royal Challengers Bangalore          S Aravind                11
1016    2016  Royal Challengers Bangalore          SR Watson                23
1017    2016  Royal Challengers Bangalore          STR Binny                 1
1018    2016  Royal Challengers Bangalore        Sachin Baby                 3
1019    2016  Royal Challengers Bangalore           T Shamsi                 3
1020    2016  Royal Challengers Bangalore            V Kohli                 0
1021    2016  Royal Challengers Bangalore           VR Aaron                 2
1022    2016  Royal Challengers Bangalore          YS Chahal                22
1023    2016          Sunrisers Hyderabad     A Ashish Reddy                 1
1024    2016          Sunrisers Hyderabad            A Nehra                11
1025    2016          Sunrisers Hyderabad            B Kumar                24
1026    2016          Sunrisers Hyderabad            BB Sran                14
1027    2016          Sunrisers Hyderabad        BCJ Cutting                 5
1028    2016          Sunrisers Hyderabad       Bipul Sharma                 5
1029    2016          Sunrisers Hyderabad           DJ Hooda                 3
1030    2016          Sunrisers Hyderabad      KS Williamson                 0
1031    2016          Sunrisers Hyderabad          KV Sharma                 1
1032    2016          Sunrisers Hyderabad       MC Henriques                14
1033    2016          Sunrisers Hyderabad  Mustafizur Rahman                19
1034    2016          Sunrisers Hyderabad           TA Boult                 1
1035    2016          Sunrisers Hyderabad       Yuvraj Singh                 0

[1036 rows x 4 columns]

In [8]:
#6. Consider the following dataframe. Reshape it such that it contains three columns: time, part (part_0_hits or 
# part_1_hits) and hits (values corresponding to the part_0_hits and part_1_hits). Store it in part_df_melted
d = {'time':[0,1,2], 'part_0_hits': [100,200,300], 'part_1_hits': [25,50,75]}
part_df = pd.DataFrame(d)
part_df_melted = pd.melt(part_df,value_vars=['part_0_hits','part_1_hits'],var_name='part',value_name='hits')
part_df_melted

          part  hits
0  part_0_hits   100
1  part_0_hits   200
2  part_0_hits   300
3  part_1_hits    25
4  part_1_hits    50
5  part_1_hits    75

In [9]:
#7. Use the part_df_melted generated in qn 6 and change the part column to show only the corresponding part numbers 
# (0 or 1 inplace of part_0_hits or part_1_hits)
#part_df_melted['p'] = 
part_df_melted['part']=part_df_melted['part'].str.extract('(\d+)',expand = True)
part_df_melted

  part  hits
0    0   100
1    0   200
2    0   300
3    1    25
4    1    50
5    1    75

In [10]:
#8. Pivot the following dataframe to create 5 columns: labels, A,B,C,D. 
data = {"grouping": ["item1", "item1", "item1", "item2", "item2", "item2", "item2"],
        "labels": ["A", "B", "C", "A", "B", "C", "D"],
        "count": [5, 1, 8, 3, 731, 189, 9]}
df = pd.DataFrame(data)
df.pivot(index='grouping',columns='labels',values='count')

labels      A      B      C    D
grouping
item1     5.0    1.0    8.0  NaN
item2     3.0  731.0  189.0  9.0

In [11]:
#9. Pivot the following dataframe to create df_pivoted with four columns: category, A, B, C. Aggregate the values on sum.
df = pd.DataFrame({'Name' : ['one', 'one', 'two', 'three'] * 3,
                   'Category' : ['A', 'B', 'C'] * 4,
               'Value' : range(12)})
print(df)
df_pivoted = df.pivot_table(index='Name',columns='Category',values='Value',aggfunc=np.sum)
df_pivoted

     Name Category  Value
0     one        A      0
1     one        B      1
2     two        C      2
3   three        A      3
4     one        B      4
5     one        C      5
6     two        A      6
7   three        B      7
8     one        C      8
9     one        A      9
10    two        B     10
11  three        C     11

Category  A   B   C
Name
one       9   5  13
three     3   7  11
two       6  10   2

In [12]:
#10. Use the df_pivoted generated in qn 9 and add three columns A_pct, B_pct, C_pct to represent the percentage 
# values of each cell per column. Hint: use df.apply(lambda x: .....)
df_pivoted[['A_pct','B_pct','C_pct']]= df_pivoted.apply(lambda x: x/x.sum()*100)
df_pivoted

Category  A   B   C      A_pct      B_pct      C_pct
Name
one       9   5  13  50.000000  22.727273  50.000000
three     3   7  11  16.666667  31.818182  42.307692
two       6  10   2  33.333333  45.454545   7.692308